<div class="index-container">

  <h1>Gym Members</h1>
  <h2>Member Search</h2>

  <div class="content-heading">
    <h2>Member List</h2>
  </div>

  <div class="side-bar-wrapper">
    <form method="get" action ="/members">
        <input class="search-bar" type="text" name="name_query" value="">
        <input id="small-button" type="submit" value="Search">
    </form>
    <a id="button" href="members/new">Add New Member</a>
  </div>

  <table class="table-container">
    <% if @members.length > 0 then %>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>

    <% for member in @members %>

    <tr>
      <td><a href="/members/<%= member.id%>"><%= member.user_name %></a></td>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
    </tr>
    <% end %>
    <% else %>
    <p><%= "No Results" %></p>
    <% end %>
  </table>

</div>
