<div class="index-container">

<h1>Member Page</h1>
<h2>Member Actions</h2>
<h2>Member Details</h2>
  <div class="side-bar-wrapper">
    <form method="post" action ="/members/<%= @member.id %>/delete">
      <button id="button" class="delete" type="submit" value="Delete Member">Delete Member</button>
    </form>

    <form method="get" action ="/members/<%= @member.id %>/update">
      <button id="button" class="update" type="submit" value="Update Member">Update Member</button>
    </form>
  </div>


  <div class="content-wrapper">
    <p class="content">Name: <%= @member.pretty_name %>
    <br>
    Username: <%= @member.user_name %> </p>
    <img class="profile" src="/images/<%=@member.image_url%>" class="thumbnail" alt="Man">
    <form action='/members/<%= @member.id %>/upload-image' enctype="multipart/form-data" method='POST'>
      <input name="file" type="file" required/>
      <input type="submit" value="Upload"/>
    </form>

    </div>

</div>
