<h1>Bookings</h1>
<nav>
  <a href="bookings/new">Create Booking</a>
</nav>
<% for booking in @bookings %>
<% member = Member.find(booking.member_id) %>
<% session = Session.find(booking.session_id) %>
  <ul>
    <li><a href="/bookings/<%= booking.id%>"> Booking id: <%= booking.id %></a>
    <li><a href="/members/<%= booking.id%>"> Member: <%= member.pretty_name %></a>
    <li><a href="/sessions/<%= booking.id%>"> Booking: <%= session.type %></a>
  </ul>

<% end %>
