<h2>Add New Booking</h2>
  <form class="form-wrapper" method = "post" action ="/bookings">


    <label for = "capacity">Member:</label>
    <select id="member" name="member_id">
      <% @members.each do |member| %>
      <option value= "<%= member.id()%>">
        <%=member.pretty_name()%> </option>
        <% end %>
      </select>

      <label for="session">Session</label>
      <select id="session" name="session_id">
        <% @sessions.each do |session| %>
        <option value= "<%= session.id()%>">
          <%=session.type%>
          -
          <%=session.on_date %>
          -
          <%=session.starts_at %>
        </option>
        <% end %>
      </select>
      <input class="new" type="submit" value="Add Booking"/>
      </form>
