<h1> Session Bookings for: <%= @session.type %></h1>
<nav>
  <a href="bookings/new/">Add new booking</a>
</nav>
<% for booking in @bookings %>
<% member = Member.find(booking.member_id) %>
  <ul>
    <li><a href="/bookings/<%= booking.id%>">Booking id: <%= booking.id %></a>
    <li><a href="/members/<%= booking.id%>"> Member: <%= member.pretty_name %></a>
  </ul>

<% end %>
