<form method = "post" action ="/sessions/<%= @session.id %>">

  <label for = "type">Session Type:</label>
  <input id= "type" type="test" name="type" value= "<%= @session.type %>"/>

  <label for = "starts at">Starts at:</label>
    <input id= "starts at" type="time" name="starts_at" value= "<%= @session.starts_at %>"/>

  <label for = "date">Date:</label>
    <input id= "date" type="date" name="on_date" value= "<%= @session.on_date %>"/>

  <label for = "duration">Duration:</label>
    <input id= "duration" type="number" name="duration" value= "<%= @session.duration %>"/>

  <label for = "capacity">Capacity:</label>
    <input id= "capacity" type="number" name="capacity" value= "<%= @session.capacity %>"/>

    <label for = "capacity">Trainer:</label>
      <select id="trainer" name="led_by">
      <option value="<%= @session.led_by %>" selected>
    <% @trainers.each do |trainer| %>
    <option value= "<%= trainer.id()%>" >
    <%=trainer.pretty_name()%> </option>
    <% end %>
  </select>

  <input type="submit" value="Update Session"/>
