<div class="index-container">

<h1>Sessions List</h1>
<h2>Session Actions</h2>

<div class="content-heading">
  <h2>Session List</h2>
</div>

<div class="side-bar-wrapper">
  <a id="button" href="/sessions/new">Add New Session</a>
  <a id="button" href="/sessions/past">Past Sessions</a>
</div>

  <table class="table-container">
    <tr>
      <th>Time</th>
      <th>Date</th>
      <th>Session</th>
    </tr>
  <% for session in @sessions %>
    <tr>
      <td><a href="/sessions/<%= session.id%>"><%= session.starts_at %></td>
      <td><%= Date.parse(session.on_date).strftime('%A')%>
      <%= Date.parse(session.on_date).strftime('%d').to_i %>th
      <%= Date.parse(session.on_date).strftime('%b')%></td>
      <td><%= session.type %> with
      <% trainer = session.find_trainer() %>
      <%= trainer.pretty_name() %></td>
    </tr>
    <% end %>
</div>
