<h1>Past Sessions</h1>
<p>
<% for session in @sessions %>
<a href="/sessions/<%= session.id%>"> <%= session.starts_at %></a>
<%= Date.parse(session.on_date).strftime('%A')%>

<%= Date.parse(session.on_date).strftime('%d').to_i %>th
<%= Date.parse(session.on_date).strftime('%b')%>
 -
<%= session.type %>
<br>
<% end %>
</p>
