<p>
<form method="post" action ="/sessions/<%= @session.id %>/delete">
  <button class="delete" type="submit" value="Delete Session">Delete Session</button>
</form>

<form method="get" action ="/sessions/<%= @session.id %>/update">
  <button class="update" type="submit" value="Update session">Update Session</button>
</form>

<p>Type: <%= @session.type %> </p>
<p>Starts at: <%= @session.starts_at %> </p>
<p>Date: <%= @session.on_date %> </p>
<p>Led By: <%= @trainer.pretty_name() %></p>

<h1> Members in Session</h1>

<p>
<% for member in @members_signed_up %>
  <ul>
    <li><a class="text" href="/members/<%= member.id%>"> <%= member.pretty_name %> </a>
  </ul>

<% end %>
