<h1>Trainer Page</h1>
<h2>Trainer Actions</h2>
<h2>Trainer Details</h2>

<div>
  <div class="button-wrapper">
<form method="post" action ="/trainers/<%= @trainer.id %>/delete">
  <button class="delete" type="submit" value="Delete Trainer">Delete Trainer</button>
</form>

<form method="get" action ="/trainers/<%= @trainer.id %>/update">
  <button class ="update" type="submit" value="Update Trainer">Update Trainer</button>
</form>
  </div>
</div>

<div class="detail-wrapper">
  <div class="detail-content-wrapper">
Name: <%= @trainer.pretty_name %>
<br>
Username: <%= @trainer.user_name %>
  </div>

<img class="profile" src="/images/<%=@trainer.image_url%>" class="thumbnail" alt="Man">
<form action='/trainers/<%= @trainer.id %>/upload-image' enctype="multipart/form-data" method='POST'>
  <input name="file" type="file" />
  <input type="submit" value="Upload"/>
</form>
</div>
