<p>
<form method="post" action ="/trainers/<%= @trainer.id %>/delete">
  <button class="delete" type="submit" value="Delete Trainer">Delete Trainer</button>
</form>

<form method="get" action ="/trainers/<%= @trainer.id %>/update">
  <button class ="update" type="submit" value="Update Trainer">Update Trainer</button>
</form>
<br>
<br>
Name: <%= @trainer.pretty_name %>
<br>
Alias: <%= @trainer.alias %>
<br>
</p>
<img class="profile" src="<%=@trainer.image_url%>.jpg" class="thumbnail" alt="Man">
