<div class="index-container">

  <h1>Trainer Page</h1>
  <h2>Trainer Actions</h2>
  <h2>Trainer Details</h2>

  <div class="side-bar-wrapper">
    <form method="post" action ="/trainers/<%= @trainer.id %>/delete">
      <button id="button" class="delete" type="submit" value="Delete Trainer">Delete Trainer</button>
    </form>

    <form method="get" action ="/trainers/<%= @trainer.id %>/update">
      <button id="button" class ="update" type="submit" value="Update Trainer">Update Trainer</button>
    </form>
  </div>

  <div class="content-wrapper">
    <p class="content">Name: <%= @trainer.pretty_name %>
      <br>
      Username: <%= @trainer.user_name %>
    </p>

    <img class="profile" src="/images/<%=@trainer.image_url%>" class="thumbnail" alt="Man">
    <form class="upload" action='/trainers/<%= @trainer.id %>/upload-image' enctype="multipart/form-data" method='POST'>
      <input name="file" type="file" />
      <input type="submit" value="Upload"/>
    </form>
  </div>
</div>
